/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.white-text img{
  height: 5%;
}

#explanation{
  border: 1px solid black;
  border-radius: 5%;
  color: black;
}

#aboutme{
  float: left;
  width: 85%;
  overflow: auto;
}